{
  "pid": "bw.resource.threadpool.4977f52c-e703-43a0-bf24-d9ea2059e2c1",
  "properties": {
    ".name": {
      "name": ".name",
      "value": "ThreadPool.ESB",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "TEST.application",
      "type": "java.lang.String"
    },
    ".type.keepAliveTimeUnit": {
      "name": ".type.keepAliveTimeUnit",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    ".public": {
      "name": ".public",
      "value": true,
      "type": "java.lang.Boolean"
    },
    ".type.maxPoolSize": {
      "name": ".type.maxPoolSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "bw.resource.threadpool",
      "type": "java.lang.String"
    },
    "autoStartCoreThreads": {
      "name": "autoStartCoreThreads",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "keepAliveTimeUnit": {
      "name": "keepAliveTimeUnit",
      "value": "MILLISECONDS",
      "type": "java.lang.String"
    },
    "coreThreadPoolSize": {
      "name": "coreThreadPoolSize",
      "value": 5,
      "type": "java.lang.Integer"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "CSPI_Library",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/threadpool}ThreadPoolConfiguration",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 149,
      "type": "java.lang.Long"
    },
    ".runtime.id": {
      "name": ".runtime.id",
      "value": "bw.resource.threadpool",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.daemon": {
      "name": ".type.daemon",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "rejectionPolicy": {
      "name": "rejectionPolicy",
      "value": "BLOCKING",
      "type": "java.lang.String"
    },
    "keepAliveTime": {
      "name": "keepAliveTime",
      "value": 30,
      "type": "java.lang.Integer"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.threadNamePrefix": {
      "name": ".type.threadNamePrefix",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.priority": {
      "name": ".type.priority",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.coreThreadPoolSize": {
      "name": ".type.coreThreadPoolSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "priority": {
      "name": "priority",
      "value": 5,
      "type": "java.lang.Integer"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.resource.threadpool.4977f52c-e703-43a0-bf24-d9ea2059e2c1",
      "type": "java.lang.String"
    },
    "daemon": {
      "name": "daemon",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "threadNamePrefix": {
      "name": "threadNamePrefix",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.rejectionPolicy": {
      "name": ".type.rejectionPolicy",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.autoStartCoreThreads": {
      "name": ".type.autoStartCoreThreads",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.keepAliveTime": {
      "name": ".type.keepAliveTime",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "maxPoolSize": {
      "name": "maxPoolSize",
      "value": 10,
      "type": "java.lang.Integer"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    }
  }
}