{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/sslclient}SSLClientConfiguration.660f5c1d-4015-48ea-9a92-3fc276890224",
  "properties": {
    ".name": {
      "name": ".name",
      "value": "test.SSLClientResource",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "TEST.application",
      "type": "java.lang.String"
    },
    "keyAlias": {
      "name": "keyAlias",
      "value": "",
      "type": "java.lang.String"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/sslclient}SSLClientConfiguration",
      "type": "java.lang.String"
    },
    ".references": {
      "name": ".references",
      "value": "(name =test.KeystoreProviderResource)",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "TEST",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/sslclient}SSLClientConfiguration",
      "type": "java.lang.String"
    },
    "keyPassword": {
      "name": "keyPassword",
      "value": "",
      "type": "java.lang.String"
    },
    ".factoryPID": {
      "name": ".factoryPID",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/sslclient}SSLClientConfiguration",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    "verifyRemoteHostName": {
      "name": "verifyRemoteHostName",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".resourceref.trustStoreServiceProvider.value": {
      "name": ".resourceref.trustStoreServiceProvider.value",
      "value": "test.KeystoreProviderResource",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 303,
      "type": "java.lang.Long"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".resourceref.trustStoreServiceProvider.type": {
      "name": ".resourceref.trustStoreServiceProvider.type",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/cred\/keystore}KeystoreConfiguration",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "enableCredentialStoreAccess": {
      "name": "enableCredentialStoreAccess",
      "value": true,
      "type": "java.lang.Boolean"
    },
    "enableMutualAuthentication": {
      "name": "enableMutualAuthentication",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/sslclient}SSLClientConfiguration.660f5c1d-4015-48ea-9a92-3fc276890224",
      "type": "java.lang.String"
    },
    "enableTrustStoreAccess": {
      "name": "enableTrustStoreAccess",
      "value": true,
      "type": "java.lang.Boolean"
    },
    "sslProtocol": {
      "name": "sslProtocol",
      "value": "TLSv1.2",
      "type": "java.lang.String"
    },
    ".interfaceType": {
      "name": ".interfaceType",
      "value": "com.tibco.bw.sharedresource.trinity.ssl.client.runtime.SSLClientResource",
      "type": "java.lang.String"
    },
    "sslCipherStrength": {
      "name": "sslCipherStrength",
      "value": "AtLeast128Bit",
      "type": "java.lang.String"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    }
  }
}