{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/sslclient}SSLClientConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/sslclient}SSLClientConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/sslclient}SSLClientConfiguration.660f5c1d-4015-48ea-9a92-3fc276890224",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}