{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [
        {
          "value": "bw.resource.jdbc.a53df091-cf8c-4303-a2dd-1317e8a8f67e",
          "type": "java.lang.String"
        },
        {
          "value": "bw.resource.jdbc.12fb6738-4b92-4641-9ac3-cd5da0040ec9",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    }
  }
}