{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/smtp}SmtpConfiguration.f6cc6681-c792-454a-95b0-a96c1e916d69",
  "properties": {
    ".type.host": {
      "name": ".type.host",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".identityReferences": {
      "name": ".identityReferences",
      "value": [{
        "value": [
          {
            "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/sslclient}SSLClientConfiguration",
            "type": "java.lang.String"
          },
          {
            "value": "test.SSLClientResource",
            "type": "java.lang.String"
          }
        ],
        "type": "[Ljava.lang.String;"
      }],
      "type": "java.util.Collection"
    },
    ".name": {
      "name": ".name",
      "value": "test.SMTPResource",
      "type": "java.lang.String"
    },
    "staleCheck": {
      "name": "staleCheck",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "TEST.application",
      "type": "java.lang.String"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".type.soReceiveBufferSize": {
      "name": ".type.soReceiveBufferSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/smtp}SmtpConfiguration",
      "type": "java.lang.String"
    },
    "soReceiveBufferSize": {
      "name": "soReceiveBufferSize",
      "value": -1,
      "type": "java.lang.Integer"
    },
    ".type.soLinger": {
      "name": ".type.soLinger",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.staleCheck": {
      "name": ".type.staleCheck",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.tcpNoDelay": {
      "name": ".type.tcpNoDelay",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "password": {
      "name": "password",
      "value": "#!qy9VBO3sMfG+Sb\/pHNvq0jz4kcaJPqGVlfhf857a7ahOFaSfKsWm5A==",
      "type": "java.lang.String"
    },
    ".type.connectionTimeout": {
      "name": ".type.connectionTimeout",
      "value": "java.lang.Long",
      "type": "java.lang.String"
    },
    "soReuseAddress": {
      "name": "soReuseAddress",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "TEST",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/smtp}SmtpConfiguration",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    ".type.soSendBufferSize": {
      "name": ".type.soSendBufferSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "host": {
      "name": "host",
      "value": "smtp.gmail.com",
      "type": "java.lang.String"
    },
    ".type.soTimeout": {
      "name": ".type.soTimeout",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 303,
      "type": "java.lang.Long"
    },
    "soSendBufferSize": {
      "name": "soSendBufferSize",
      "value": -1,
      "type": "java.lang.Integer"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "connectionTimeout": {
      "name": "connectionTimeout",
      "value": 60000,
      "type": "java.lang.Long"
    },
    "tcpNoDelay": {
      "name": "tcpNoDelay",
      "value": true,
      "type": "java.lang.Boolean"
    },
    "useTLS": {
      "name": "useTLS",
      "value": true,
      "type": "java.lang.Boolean"
    },
    ".resourceref.identityJNDIName.type": {
      "name": ".resourceref.identityJNDIName.type",
      "value": "{http:\/\/xsd.tns.tibco.com\/trinity\/models\/identity\/subject}SubjectConfiguration",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".sematictype.password": {
      "name": ".sematictype.password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".type.useTLS": {
      "name": ".type.useTLS",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.password": {
      "name": ".type.password",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "soTimeout": {
      "name": "soTimeout",
      "value": 0,
      "type": "java.lang.Integer"
    },
    ".type.soReuseAddress": {
      "name": ".type.soReuseAddress",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/smtp}SmtpConfiguration.f6cc6681-c792-454a-95b0-a96c1e916d69",
      "type": "java.lang.String"
    },
    ".type.username": {
      "name": ".type.username",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.soBufferSize": {
      "name": ".type.soBufferSize",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.port": {
      "name": ".type.port",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".resourceref.identityJNDIName.value": {
      "name": ".resourceref.identityJNDIName.value",
      "value": "",
      "type": "java.lang.String"
    },
    "port": {
      "name": "port",
      "value": 587,
      "type": "java.lang.Integer"
    },
    "soLinger": {
      "name": "soLinger",
      "value": 0,
      "type": "java.lang.Integer"
    },
    "soBufferSize": {
      "name": "soBufferSize",
      "value": -1,
      "type": "java.lang.Integer"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    },
    "username": {
      "name": "username",
      "value": "dltcl2@gmail.com",
      "type": "java.lang.String"
    }
  }
}