{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/smtp}SmtpConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/smtp}SmtpConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/smtp}SmtpConfiguration.f6cc6681-c792-454a-95b0-a96c1e916d69",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}