{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/cred\/keystore}KeystoreConfiguration.e0ff4514-16fe-4887-8715-d9149e14e0e7",
  "properties": {
    "keystoreProvider": {
      "name": "keystoreProvider",
      "value": "",
      "type": "java.lang.String"
    },
    "hostInternally": {
      "name": "hostInternally",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".name": {
      "name": ".name",
      "value": "test.KeystoreProviderResource",
      "type": "java.lang.String"
    },
    "keystoreRefreshInterval": {
      "name": "keystoreRefreshInterval",
      "value": 3600000,
      "type": "java.lang.Integer"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "TEST.application",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "keystorePassword": {
      "name": "keystorePassword",
      "value": "changeit",
      "type": "java.lang.String"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/cred\/keystore}KeystoreConfiguration",
      "type": "java.lang.String"
    },
    "keystoreURL": {
      "name": "keystoreURL",
      "value": "C:\\Program Files\\tibco\\bw6\\tibcojre64\\1.8.0\\lib\\security\\cacerts",
      "type": "java.lang.String"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/cred\/keystore}KeystoreConfiguration.e0ff4514-16fe-4887-8715-d9149e14e0e7",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "TEST",
      "type": "java.lang.String"
    },
    "keystoreType": {
      "name": "keystoreType",
      "value": "JKS",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/cred\/keystore}KeystoreConfiguration",
      "type": "java.lang.String"
    },
    ".factoryPID": {
      "name": ".factoryPID",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/cred\/keystore}KeystoreConfiguration",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 303,
      "type": "java.lang.Long"
    },
    ".interfaceType": {
      "name": ".interfaceType",
      "value": "com.tibco.bw.sharedresource.trinity.credential.keystore.runtime.KeyStoreResource",
      "type": "java.lang.String"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    }
  }
}