{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/cred\/keystore}KeystoreConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/cred\/keystore}KeystoreConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/xsd.tns.tibco.com\/bw\/sharedresource\/trinity\/models\/cred\/keystore}KeystoreConfiguration.e0ff4514-16fe-4887-8715-d9149e14e0e7",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}