{
  "pid": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/sapconnection}SAPConnection.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/sapconnection}SAPConnection",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/sapconnection}SAPConnection.1d33a9fc-ecba-43a4-a228-030680a5fab2",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}