{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.79864311-46da-4a24-9517-f8decf9bf22a",
  "properties": {
    ".name": {
      "name": ".name",
      "value": "Jms.ESB",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "IOT_SAP_SD_SES_0050",
      "type": "java.lang.String"
    },
    ".type.factoryType": {
      "name": ".type.factoryType",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    "autoGenerateClientID": {
      "name": "autoGenerateClientID",
      "value": true,
      "type": "java.lang.Boolean"
    },
    ".public": {
      "name": ".public",
      "value": true,
      "type": "java.lang.Boolean"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory",
      "type": "java.lang.String"
    },
    ".type.autoGenerateClientID": {
      "name": ".type.autoGenerateClientID",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "password": {
      "name": "password",
      "value": "\/Resources\/Jms\/Password",
      "type": "java.lang.String"
    },
    ".type.ufo": {
      "name": ".type.ufo",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "CSPI_Library",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 149,
      "type": "java.lang.Long"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "TYPE": {
      "name": "TYPE",
      "value": "direct",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.TYPE": {
      "name": ".type.TYPE",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".sematictype.password": {
      "name": ".sematictype.password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".type.sslConnectionFactoryPassword": {
      "name": ".type.sslConnectionFactoryPassword",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "xa": {
      "name": "xa",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "sslConnectionFactoryPassword": {
      "name": "sslConnectionFactoryPassword",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.password": {
      "name": ".type.password",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "providerURL": {
      "name": "providerURL",
      "value": "\/Resources\/Jms\/ProviderURL",
      "type": "java.lang.String"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.7",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.79864311-46da-4a24-9517-f8decf9bf22a",
      "type": "java.lang.String"
    },
    ".mprefs": {
      "name": ".mprefs",
      "value": [
        {
          "value": "providerURL",
          "type": "java.lang.String"
        },
        {
          "value": "username",
          "type": "java.lang.String"
        },
        {
          "value": "password",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    },
    ".type.username": {
      "name": ".type.username",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.providerURL": {
      "name": ".type.providerURL",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.xa": {
      "name": ".type.xa",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    "factoryType": {
      "name": "factoryType",
      "value": "Queue\/Topic",
      "type": "java.lang.String"
    },
    ".type.properties": {
      "name": ".type.properties",
      "value": "java.util.Collection",
      "type": "java.lang.String"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    },
    "properties": {
      "name": "properties",
      "value": [],
      "type": "java.util.Collection"
    },
    "username": {
      "name": "username",
      "value": "\/Resources\/Jms\/UserName",
      "type": "java.lang.String"
    },
    "ufo": {
      "name": "ufo",
      "value": false,
      "type": "java.lang.Boolean"
    }
  }
}