{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [
        {
          "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.79864311-46da-4a24-9517-f8decf9bf22a",
          "type": "java.lang.String"
        },
        {
          "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.4e4ca1e2-986b-4716-9c4a-cdec685d13be",
          "type": "java.lang.String"
        },
        {
          "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JMSConnectionFactory.fe340c84-abe0-428f-ad2d-fab399ee3cc0",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    }
  }
}