{
  "pid": "bw.application.IOT_SAP_SD_SES_0050_1.7",
  "properties": {
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSystemNumber": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSystemNumber",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Utility\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/CSPI_Utility\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPProgramID": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPProgramID",
      "value": "ESB_IOT_SD",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jms\/UserName": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jms\/UserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.DOMAIN.NAME": {
      "name": "\/\/CSPI_Library\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/ProviderURL": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/ProviderURL",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Utility\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/CSPI_Utility\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/BaseInfo\/WorkGroupp": {
      "name": ".type.\/\/CSPI_Library\/\/\/BaseInfo\/WorkGroupp",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "IOT_SAP_SD_SES_0050",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPPassword": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPPassword",
      "value": "#!yxaEVqylDizPHfKGwpSUJYYGMGu8xKbAKRBsSyyjPoM=",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Utility\/\/BW.APPSPACE.NAME": {
      "name": "\/\/CSPI_Utility\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/MaximumConnections": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/MaximumConnections",
      "value": "10",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "IOT_SAP_SD_SES_0050",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncLib": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncLib",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Utility\/\/BW.MODULE.VERSION": {
      "name": "\/\/CSPI_Utility\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileDir": {
      "name": "\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileDir",
      "value": "\/home\/esbmanager\/cfgFile",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Destination\/DBLog": {
      "name": "\/\/CSPI_Library\/\/\/Destination\/DBLog",
      "value": "%%Env%%.ESB.LOG",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/CSPI_Library\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Utility\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/CSPI_Utility\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/DatabaseURL": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/DatabaseURL",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.IOT_SAP_SD_SES_0050_1.7",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.MODULE.VERSION": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/JDBCDriver": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/JDBCDriver",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/LoginTimeout_sec": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/LoginTimeout_sec",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPTimeout": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPTimeout",
      "value": "295000",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncMode": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncMode",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/DatabaseURL": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/DatabaseURL",
      "value": "jdbc:oracle:thin:@10.101.3.196:1521:esbdbdev",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Utility\/\/BW.MODULE.NAME": {
      "name": "\/\/CSPI_Utility\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/BaseInfo\/WorkGroupp": {
      "name": "\/\/CSPI_Library\/\/\/BaseInfo\/WorkGroupp",
      "value": "SAP_SD",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSystemNumber": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSystemNumber",
      "value": "00",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Destination\/FileLog": {
      "name": ".type.\/\/CSPI_Library\/\/\/Destination\/FileLog",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPMaxconnectionCounts": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPMaxconnectionCounts",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.MODULE.NAME": {
      "name": "\/\/CSPI_Library\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jms\/ProviderURL": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jms\/ProviderURL",
      "value": "tcp:\/\/10.101.3.194:7222",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/Encoding": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/Encoding",
      "value": "UTF-8",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPGatewayHost": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPGatewayHost",
      "value": "192.1.1.149",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.APPNODE.NAME": {
      "name": "\/\/CSPI_Library\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/UserName": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/UserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Utility\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/CSPI_Utility\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncPartnername": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncPartnername",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jms\/Password": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jms\/Password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Utility\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/CSPI_Utility\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Utility\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/CSPI_Utility\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.7.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncLib": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncLib",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPProgramID": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPProgramID",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPGatewayHost": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPGatewayHost",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Destination\/QueueName": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Destination\/QueueName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPUserName": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPUserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/Password": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/Password",
      "value": "#!rl6jS4A3VZjGerpqIz5p328jAKK8ULYh",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncMode": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncMode",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Destination\/EngineResource": {
      "name": "\/\/CSPI_Library\/\/\/Destination\/EngineResource",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jms\/ProviderURL": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jms\/ProviderURL",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/UserName": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/UserName",
      "value": "ezmna",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileName": {
      "name": ".type.\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/LoginTimeout_sec": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/LoginTimeout_sec",
      "value": "0",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Destination\/EngineResource": {
      "name": ".type.\/\/CSPI_Library\/\/\/Destination\/EngineResource",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.APPNODE.NAME": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPAppServer": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPAppServer",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jms\/Password": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jms\/Password",
      "value": "#!scYlqBgTC0fybeUNYNPAiA==",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPMsgServer": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPMsgServer",
      "value": "192.1.1.149",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/UserName": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/UserName",
      "value": "admin",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileDir": {
      "name": ".type.\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileDir",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/Encoding": {
      "name": ".type.\/\/CSPI_Library\/\/Encoding",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncPartnername": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncPartnername",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DOMAIN.NAME": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.HOST.NAME": {
      "name": "\/\/CSPI_Library\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/CSPI_Library\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Destination\/Alert": {
      "name": "\/\/CSPI_Library\/\/\/Destination\/Alert",
      "value": "%%Env%%.ESB.ALERT",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/Timeout": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/Timeout",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Destination\/FileLog": {
      "name": "\/\/CSPI_Library\/\/\/Destination\/FileLog",
      "value": "%%Env%%.ESB.FILE",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Utility\/\/BW.HOST.NAME": {
      "name": "\/\/CSPI_Utility\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPPassword": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPPassword",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.HOST.NAME": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Utility\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/CSPI_Utility\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/JDBCDriver": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/JDBCDriver",
      "value": "oracle.jdbc.OracleDriver",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncMyname": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncMyname",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Utility\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/CSPI_Utility\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncQop": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncQop",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPLogonGroup": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPLogonGroup",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Utility\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/CSPI_Utility\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.APPSPACE.NAME": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPLogonGroup": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPLogonGroup",
      "value": "TITAN",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.MODULE.VERSION": {
      "name": "\/\/CSPI_Library\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.Env": {
      "name": ".type.Env",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/Encoding": {
      "name": "\/\/CSPI_Library\/\/Encoding",
      "value": "UTF-8",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/Password": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/Password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Utility\/\/BW.HOST.NAME": {
      "name": ".type.\/\/CSPI_Utility\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPClient": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPClient",
      "value": "100",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Utility\/\/BW.APPNODE.NAME": {
      "name": "\/\/CSPI_Utility\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Utility\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/CSPI_Utility\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Destination\/QueueName": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Destination\/QueueName",
      "value": "%%Env%%.SVC.SAP.SD.SND",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Destination\/QueueName_Reload": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Destination\/QueueName_Reload",
      "value": "D.BWP.EAI.INTERFACE.RELOAD.SAP_SD",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Destination\/DBLog": {
      "name": ".type.\/\/CSPI_Library\/\/\/Destination\/DBLog",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncMyname": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncMyname",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSystemName": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSystemName",
      "value": "COQ",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/CSPI_Library\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/ProviderURL": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/ProviderURL",
      "value": "tcp:\/\/10.101.3.194:7222",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPGatewayService": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPGatewayService",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.HOST.NAME": {
      "name": ".type.\/\/CSPI_Library\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "Env": {
      "name": "Env",
      "value": "D",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSystemName": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSystemName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Utility\/\/BW.DOMAIN.NAME": {
      "name": "\/\/CSPI_Utility\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.MODULE.NAME": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Destination\/QueueName_ReloadAll": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Destination\/QueueName_ReloadAll",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncQop": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPSncQop",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Destination\/QueueName_ReloadAll": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Destination\/QueueName_ReloadAll",
      "value": "D.BWP.EAI.INTERFACE.RELOAD.ALL",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPTimeout": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPTimeout",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPUserName": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPUserName",
      "value": "CORFCESB01",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.APPSPACE.NAME": {
      "name": "\/\/CSPI_Library\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/UserName": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/UserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPMsgServer": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPMsgServer",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/CSPI_Library\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileName": {
      "name": "\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileName",
      "value": "IOT_SAP_SD_SSE_0050.cfg",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Utility\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/CSPI_Utility\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/Password": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/Password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Destination\/QueueName_Reload": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/\/Destination\/QueueName_Reload",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPAppServer": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPAppServer",
      "value": "192.1.1.149",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPMaxconnectionCounts": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPMaxconnectionCounts",
      "value": "10",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/CSPI_Library\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jms\/UserName": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jms\/UserName",
      "value": "admin",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.7",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPClient": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/SAPClient",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Destination\/Alert": {
      "name": ".type.\/\/CSPI_Library\/\/\/Destination\/Alert",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/Encoding": {
      "name": ".type.\/\/IOT_SAP_SD_SES_0050.module\/\/Encoding",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPGatewayService": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/SAPGatewayService",
      "value": "sapgw00",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.HOST.NAME": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/Timeout": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/Timeout",
      "value": "25000",
      "type": "java.lang.String"
    },
    "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/Password": {
      "name": "\/\/IOT_SAP_SD_SES_0050.module\/\/\/Resources\/ems\/Password",
      "value": "#!Rsjo+DfxSq77WI6Vgj\/epw==",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/MaximumConnections": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/MaximumConnections",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    }
  }
}