{
  "pid": "bw.application.TEST.application_1.0",
  "properties": {
    ".type.\/\/TEST\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/TEST\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/TEST\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/TEST\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jms\/UserName": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jms\/UserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jms\/Password": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jms\/Password",
      "value": "#!scYlqBgTC0fybeUNYNPAiA==",
      "type": "java.lang.String"
    },
    ".type.\/\/TEST\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/TEST\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileDir": {
      "name": ".type.\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileDir",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.DOMAIN.NAME": {
      "name": "\/\/CSPI_Library\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/TEST\/\/BW.APPNODE.NAME": {
      "name": "\/\/TEST\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/TEST\/\/BW.MODULE.NAME": {
      "name": "\/\/TEST\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/Encoding": {
      "name": ".type.\/\/CSPI_Library\/\/Encoding",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.HOST.NAME": {
      "name": "\/\/CSPI_Library\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/CSPI_Library\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Destination\/Alert": {
      "name": "\/\/CSPI_Library\/\/\/Destination\/Alert",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/TEST\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/TEST\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/BaseInfo\/WorkGroupp": {
      "name": ".type.\/\/CSPI_Library\/\/\/BaseInfo\/WorkGroupp",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "TEST.application",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Destination\/FileLog": {
      "name": "\/\/CSPI_Library\/\/\/Destination\/FileLog",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/JDBCDriver": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/JDBCDriver",
      "value": "oracle.jdbc.OracleDriver",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/TEST\/\/BW.MODULE.VERSION": {
      "name": "\/\/TEST\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/MaximumConnections": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/MaximumConnections",
      "value": "10",
      "type": "java.lang.String"
    },
    ".type.\/\/TEST\/\/BW.HOST.NAME": {
      "name": ".type.\/\/TEST\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "TEST.application",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileDir": {
      "name": "\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileDir",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/TEST\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/TEST\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.MODULE.VERSION": {
      "name": "\/\/CSPI_Library\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Destination\/DBLog": {
      "name": "\/\/CSPI_Library\/\/\/Destination\/DBLog",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/CSPI_Library\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/DatabaseURL": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/DatabaseURL",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.TEST.application_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/JDBCDriver": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/JDBCDriver",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/TEST\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/TEST\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/Encoding": {
      "name": "\/\/CSPI_Library\/\/Encoding",
      "value": "UTF-8",
      "type": "java.lang.String"
    },
    ".type.\/\/TEST\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/TEST\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/LoginTimeout_sec": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/LoginTimeout_sec",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/Password": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/Password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/DatabaseURL": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/DatabaseURL",
      "value": "jdbc:oracle:thin:@10.207.16.148:1521:orcl",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/BaseInfo\/WorkGroupp": {
      "name": "\/\/CSPI_Library\/\/\/BaseInfo\/WorkGroupp",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Destination\/FileLog": {
      "name": ".type.\/\/CSPI_Library\/\/\/Destination\/FileLog",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Destination\/DBLog": {
      "name": ".type.\/\/CSPI_Library\/\/\/Destination\/DBLog",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.MODULE.NAME": {
      "name": "\/\/CSPI_Library\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/TEST\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/TEST\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/CSPI_Library\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.HOST.NAME": {
      "name": ".type.\/\/CSPI_Library\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jms\/ProviderURL": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jms\/ProviderURL",
      "value": "tcp:\/\/10.101.3.194:7222",
      "type": "java.lang.String"
    },
    "\/\/TEST\/\/BW.DOMAIN.NAME": {
      "name": "\/\/TEST\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/TEST\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/TEST\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.APPNODE.NAME": {
      "name": "\/\/CSPI_Library\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/UserName": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/UserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/TEST\/\/BW.HOST.NAME": {
      "name": "\/\/TEST\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jms\/Password": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jms\/Password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "\/\/TEST\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/TEST\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.APPSPACE.NAME": {
      "name": "\/\/CSPI_Library\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/TEST\/\/StylesheetProperty": {
      "name": ".type.\/\/TEST\/\/StylesheetProperty",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileName": {
      "name": "\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileName",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/CSPI_Library\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/TEST\/\/BW.APPSPACE.NAME": {
      "name": "\/\/TEST\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/TEST\/\/StylesheetProperty": {
      "name": "\/\/TEST\/\/StylesheetProperty",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/CSPI_Library\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jms\/UserName": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jms\/UserName",
      "value": "admin",
      "type": "java.lang.String"
    },
    ".type.\/\/TEST\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/TEST\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/Password": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/Password",
      "value": "#!5fp17coePGmdM2X\/yALkbsB\/B6CGXXh9",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Destination\/EngineResource": {
      "name": "\/\/CSPI_Library\/\/\/Destination\/EngineResource",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jms\/ProviderURL": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jms\/ProviderURL",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/UserName": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/UserName",
      "value": "ezmna",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileName": {
      "name": ".type.\/\/CSPI_Library\/\/\/BaseInfo\/CfgFileName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/CSPI_Library\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Destination\/Alert": {
      "name": ".type.\/\/CSPI_Library\/\/\/Destination\/Alert",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/LoginTimeout_sec": {
      "name": "\/\/CSPI_Library\/\/\/Resources\/Jdbc\/LoginTimeout_sec",
      "value": "0",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Destination\/EngineResource": {
      "name": ".type.\/\/CSPI_Library\/\/\/Destination\/EngineResource",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/MaximumConnections": {
      "name": ".type.\/\/CSPI_Library\/\/\/Resources\/Jdbc\/MaximumConnections",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    }
  }
}