{
  "pid": "com.tibco.bw.stat.appnode.fc929464-d37a-493a-a919-67607f17eef5",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.fc929464-d37a-493a-a919-67607f17eef5",
      "type": "java.lang.String"
    }
  }
}